<a href="https://colab.research.google.com/github/MrMarians/datamining/blob/main/analisiorario2021_22_imolalicei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/COMMISSIONE ORARIO/data/EXP_COURS.txt', encoding='utf-16', error_bad_lines=False)
df
#grouped=df.groupby(by='MAT_COD')
#grouped.describe()

     NUMERO DURATA FREQUENZA  ... O.INIZIO         SEDE ALUNNI
0       1.0   1h00         S  ...    08h00  Scientifico      0
1       2.0   1h00         S  ...    08h00  Scientifico      0
2       3.0   2h00         S  ...    08h00  Scientifico      0
3       4.0   1h00         S  ...    08h00  Scientifico      0
4       5.0   1h00         S  ...    08h00  Scientifico      0
..      ...    ...       ...  ...      ...          ...    ...
746   745.0   1h00         S  ...    12h00  Scientifico      0
747   746.0   1h00         S  ...    12h00  Scientifico      0
748   747.0   1h00         S  ...    12h00     Classico      0
749   748.0   1h00         S  ...    12h00     Classico      0
750   749.0   1h00         S  ...    12h00  Scientifico      0

[751 rows x 17 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751 entries, 0 to 750
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NUMERO       751 non-null    float64
 1   DURATA       751 non-null    object
 2   FREQUENZA    751 non-null    object
 3   MAT_COD      751 non-null    object
 4   MAT_NOME     751 non-null    object
 5   DOC_COGN     751 non-null    object
 6   DOC_NOME     750 non-null    object
 7   CLASSE       651 non-null    object
 8   AULA         685 non-null    object
 9   PERIODICITÀ  751 non-null    object
 10  SPECIFICA    751 non-null    object
 11  CO-DOC.      751 non-null    object
 12  COEFF.       751 non-null    object
 13  GIORNO       751 non-null    object
 14  O.INIZIO     751 non-null    object
 15  SEDE         751 non-null    object
 16  ALUNNI       751 non-null    int64
dtypes: float64(1), int64(1), object(15)
memory usage: 99.9+ KB

In [33]:
df.head(11)

    NUMERO DURATA FREQUENZA   MAT_COD  ...  GIORNO O.INIZIO         SEDE ALUNNI
0      1.0   1h00         S   INGLESE  ...  lunedì    08h00  Scientifico      0
1      2.0   1h00         S    STOGEO  ...  lunedì    08h00  Scientifico      0
2      3.0   2h00         S    MATEMA  ...  lunedì    08h00  Scientifico      0
3      4.0   1h00         S       SCI  ...  lunedì    08h00  Scientifico      0
4      5.0   1h00         S    STOGEO  ...  lunedì    08h00  Scientifico      0
5      6.0   1h00         S    MATEMA  ...  lunedì    08h00  Scientifico      0
6      7.0   1h00         S   INGLESE  ...  lunedì    08h00  Scientifico      0
7      8.0   1h00         S   INGLESE  ...  lunedì    08h00  Scientifico      0
8      9.0   1h00         S    LATINO  ...  lunedì    08h00  Scientifico      0
9     10.0   1h00         S  ITALIANO  ...  lunedì    08h00  Scientifico      0
10    11.0   1h00         S    MATEMA  ...  lunedì    08h00  Scientifico      0

[11 rows x 17 columns]

In [34]:
df.tail(11)

     NUMERO DURATA FREQUENZA  ... O.INIZIO         SEDE ALUNNI
740   739.0   1h00         S  ...    12h00  Scientifico      0
741   740.0   1h00         S  ...    12h00  Scientifico      0
742   741.0   1h00         S  ...    12h00  Scientifico      0
743   742.0   1h00         S  ...    12h00  Scientifico      0
744   743.0   1h00         S  ...    12h00  Scientifico      0
745   744.0   1h00         S  ...    12h00  Scientifico      0
746   745.0   1h00         S  ...    12h00  Scientifico      0
747   746.0   1h00         S  ...    12h00  Scientifico      0
748   747.0   1h00         S  ...    12h00     Classico      0
749   748.0   1h00         S  ...    12h00     Classico      0
750   749.0   1h00         S  ...    12h00  Scientifico      0

[11 rows x 17 columns]

In [19]:
d=df['GIORNO']
d

0      lunedì
1      lunedì
2      lunedì
3      lunedì
4      lunedì
        ...
746    sabato
747    sabato
748    sabato
749    sabato
750    sabato
Name: GIORNO, Length: 751, dtype: object

In [25]:
c=df['MAT_COD']
c

0           INGLESE
1            STOGEO
2            MATEMA
3               SCI
4            STOGEO
           ...
746             SCI
747          RELIGI
748          LATINO
749          MATEMA
750    DISPOSIZIONE
Name: MAT_COD, Length: 751, dtype: object

In [35]:
df.sort_values(by=['DURATA'])

     NUMERO DURATA FREQUENZA   MAT_COD  ...     GIORNO O.INIZIO         SEDE ALUNNI
0       1.0   1h00         S   INGLESE  ...     lunedì    08h00  Scientifico      0
476   476.0   1h00         S    STORIA  ...    giovedì    11h00  Scientifico      0
477   477.0   1h00         S    FISICA  ...    giovedì    11h00  Scientifico      0
478   478.0   1h00         S    STORIA  ...    giovedì    11h00     Classico      0
479   479.0   1h00         S    STORIA  ...    giovedì    11h00     Classico      0
..      ...    ...       ...       ...  ...        ...      ...          ...    ...
165   166.0   2h00         S    MATEMA  ...    martedì    09h00  Scientifico      0
164   165.0   2h00         S  ITALIANO  ...    martedì    09h00  Scientifico      0
564   564.0   2h00         S    SCIMOT  ...    venerdì    10h00  Scientifico      0
571   571.0   2h00         S    SCIMOT  ...    venerdì    10h00  Scientifico      0
375   376.0   2h00         S    SCIMOT  ...  mercoledì    12h00  Scientifico      0

[751 rows x 17 columns]

In [36]:
df.sort_values(by=['O.INIZIO'])

     NUMERO DURATA FREQUENZA  MAT_COD  ...     GIORNO O.INIZIO         SEDE ALUNNI
0       1.0   1h00         S  INGLESE  ...     lunedì    08h00  Scientifico      0
278   279.0   2h00         S   SCIMOT  ...  mercoledì    08h00  Scientifico      0
279   280.0   1h00         S      SCI  ...  mercoledì    08h00  Scientifico      0
280   281.0   1h00         S  INGLESE  ...  mercoledì    08h00  Scientifico      0
281   282.0   1h00         S   FILOSO  ...  mercoledì    08h00  Scientifico      0
..      ...    ...       ...      ...  ...        ...      ...          ...    ...
260   261.0   1h00         S  POT inf  ...    martedì    13h00  Scientifico      0
126   127.0   1h00         S  POT fis  ...     lunedì    13h00  Scientifico      0
632   632.0   1h00         S  POT sci  ...    venerdì    13h00  Scientifico      0
508   508.0   1h00         S  POT sci  ...    giovedì    13h00  Scientifico      0
507   507.0   1h00         S  POT inf  ...    giovedì    13h00  Scientifico      0

[751 rows x 17 columns]

In [26]:
df.value_counts()

NUMERO  DURATA  FREQUENZA  MAT_COD   MAT_NOME  DOC_COGN       DOC_NOME     CLASSE  AULA       PERIODICITÀ  SPECIFICA  CO-DOC.  COEFF.  GIORNO   O.INIZIO  SEDE         ALUNNI
748.0   1h00    S          MATEMA    MAT       Bertozzi       Stefano      3AC     3AC        S            ss         N        60/60   sabato   12h00     Classico     0         1
239.0   1h00    S          LATINO    LAT       Dardi          Maurizia     1ES     1ES        S            ss         N        60/60   martedì  12h00     Scientifico  0         1
261.0   1h00    S          POT inf   P-INF     Russo          Annarita     3BS     POT-INF-3  S            ss         N        60/60   martedì  13h00     Scientifico  0         1
256.0   1h00    S          FISICA    FIS       Cattedra A027  Fisica       2CS     2CS        S            ss         N        60/60   martedì  12h00     Scientifico  0         1
255.0   1h00    S          ITALIANO  ITA       Pesaresi       Chiara (**)  5AC     5AC        S            ss         N        60/60   martedì  12h00     Classico     0         1
                                                                                                                                                                                ..
499.0   1h00    S          FISICA    FIS       Veronese       Giovanna     3CS     3CS        S            ss         N        60/60   giovedì  12h00     Scientifico  0         1
498.0   1h00    S          FILOSO    FIL       Falsone        Calogero     3BS     3BS        S            ss         N        60/60   giovedì  12h00     Scientifico  0         1
497.0   1h00    S          ITALIANO  ITA       Lanzoni        Lara         2AS     2AS        S            ss         N        60/60   giovedì  12h00     Scientifico  0         1
496.0   1h00    S          INGLESE   ING       Barnabè        Debora (**)  2ES     2ES        S            ss         N        60/60   giovedì  12h00     Scientifico  0         1
1.0     1h00    S          INGLESE   ING       Landi          Federica     1AS     1AS        S            ss         N        60/60   lunedì   08h00     Scientifico  0         1
Length: 651, dtype: int64

In [37]:
print(df[['MAT_COD', 'CLASSE', 'GIORNO', 'O.INIZIO']])

          MAT_COD CLASSE  GIORNO O.INIZIO
0         INGLESE    1AS  lunedì    08h00
1          STOGEO    1CS  lunedì    08h00
2          MATEMA    1DS  lunedì    08h00
3             SCI    5AS  lunedì    08h00
4          STOGEO    1ES  lunedì    08h00
..            ...    ...     ...      ...
746           SCI    3CS  sabato    12h00
747        RELIGI    3DS  sabato    12h00
748        LATINO    1AC  sabato    12h00
749        MATEMA    3AC  sabato    12h00
750  DISPOSIZIONE    NaN  sabato    12h00

[751 rows x 4 columns]